.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(12, 1, 1);
  color: white;
  height: 70px;
}

.left-section {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 20px;
  margin-right: 10px;
}

.logo img {
  max-height: 30px;
}

.right-section {
  display: flex;
  align-items: center;
}

.login {
  margin-right: 10px;
  background-color: rgb(172, 147, 15);
  padding: 10px;
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}
.register {
  border-radius: 5px;
  border: none;
  color: rgb(172, 147, 15);
  padding: 10px;
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
}

@media (max-width: 768px) {
  .left-section {
    flex: 1;
    justify-content: flex-start;
  }

  .right-section {
    flex: 1;
    justify-content: flex-end;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .logo img {
    max-height: 40px;
  }
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #f7f1f1;
  background-image: url("https://i.pinimg.com/564x/8b/44/70/8b447067d74f0a6834c96558a455f526.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  inset-block: 10px;
}

.login-modal button {
  margin-left: 10px;
  background-color: rgb(172, 147, 15);
  padding: 10px;
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}


/*  css for sidebar */
.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(172, 147, 15);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 2;
}
.sidebar-img {
  width: 170px;
  height: 50px;
  margin-left: 20px;
}

.sidebar.open {
  width: 200px;
}

.close-button {
  background-color: rgb(172, 147, 15);

  color: #fff;
  border: none;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}
